version: "3.0"
services:
  api:
    build:
      context: backend/
      dockerfile: Containerfile
    command:
      - --listen=:8080
      - --swama-address=http://host.docker.internal:28100
    ports:
      - "12080:8080/tcp"
    env_file:
      - ./.env
    volumes:
      - ./backend/words.db:/data/words.db:rw
      - ./backend/words.db-shm:/data/words.db-shm:rw
      - ./backend/words.db-wal:/data/words.db-wal:rw
  web:
    build:
      context: .
      dockerfile: frontend/Containerfile
    command:
      - --listen=:3000
      - --server=http://api:8080/api/
    ports:
      - "13000:3000/tcp"
