.pre-wrap {
  white-space: pre-wrap;
}

.search-results {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
