package routes

import "github.com/Crystalix007/reverse-dict/backend"

templ searchResults(searchResults []backend.Definition) {
    <div>
        <h1>Results</h1>
        <ul>
            for _, item := range searchResults {
                <li>
                    <h2>{ item.Word }</h2>
                    <p>{ item.Definition }</p>
                </li>
            }
        </ul>
    </div>
}
